@import "../style.styl";

//
// Navigation
// --------------------------------------------------

a
	color site-dark-grey
	&:hover, &:focus
		color site-green
		text-decoration line-through	
		outline 0
		
	&:focus
		outline-offset 0