- var pagetitle = "Midvalley"
- var pagename = "portfolio"
- var folder = "../"

- bannerImgs = []
- bannerImgs.push( { "link":"#", "src":"midvalley/banner.jpg", "srcM":"midvalley/banner-m.jpg", "alt":"Midvalley" } )

include /includes/header

<!--  ====================  -->
<!--  === Main content ===  -->
<!--  ====================  -->
div(class=pagename, role="main" )
	include /includes/banner

	.container
		.row
			.col-sm-12
				h2
					| Midvalley
				.row
					.col-sm-offset-3.col-sm-6
						.portfolio-body
							h4
								| Client
							p
								| Mid Valley Megamall | Shopping mall in Malaysia
							h4
								| Live Site
							a( href="http://midvalley.com.my" target="_blank")
								| http://midvalley.com.my
							h4
								| Project Type
							p
								| Responsive Website ( Static Pages )
							h4
								| Project Launched
							p
								| 2014	
							h4
								| Role
							p
								| Web Development
							h4
								| Tools
							p
								| Bootstrap, JavaScript, HTML5, CSS, PHP

		.row.text-center
			.col-sm-12
				h5
					| View Project
				div(class="embed-responsive embed-responsive-16by9")
					iframe(width="853" height="480" class="embed-responsive-item" src="https://www.youtube.com/embed/btjIU7VGUwg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
		.row.text-center
			.col-sm-12
				h5
					| Content Page
			.col-sm-6
				img(src=folder + "assets/img/dist/midvalley/content-01.jpg" class="img-responsive")
			.col-sm-6
				img(src=folder + "assets/img/dist/midvalley/content-02.jpg" class="img-responsive")
			
		.row.text-center
			.col-sm-12
				h5
					| Mobile View
			.col-sm-12.text-center
				img(src=folder + "assets/img/dist/midvalley/mobile.jpg" class="img-responsive")
			
				
include /includes/footer