@import "../style.styl";

//
// IE8
// --------------------------------------------------

.lt-ie9
	/*	--------------------------------------------------
	:: main
	-------------------------------------------------- */
	.container
		width 1140px
		
	/*	--------------------------------------------------
	:: 
	-------------------------------------------------- */
	