@import "../style.styl";

//
// Portfolio
// --------------------------------------------------

.portfolio-body
	margin-bottom 40px
	
	p, a
		margin-bottom 15px
		display block
.portfolio		
	img
		margin 0 0 15px
		@media (min-width: width-tabletportrait)
			margin 0 0 20px
		
		