@import "../style.styl";

//
// Footer
// --------------------------------------------------
footer
	text-align center
	font-size 11px
	margin 20px 0 10px
	
	@media (min-width: width-tabletportrait)
		margin 25px 0 15px