@import "../style.styl";

//
// Masthead
// --------------------------------------------------

.container-fluid .jumbotron
	padding 0
	margin 15px 0
	
	@media (min-width: width-tabletportrait)
		margin 35px 0 0
		
	&.masthead
		margin-bottom 0	

.socialWrap
	text-transform uppercase
	font-size 10px
	text-align center
	margin -7px 0 30px
	z-index 1
	position relative
	
	@media (min-width: width-tabletportrait)
		margin -7px 0 60px
	a
		margin  0 5px		