@import "../style.styl";

//
// Font Awesome
// --------------------------------------------------

@font-face
	font-family "FontAwesome"
	src url(font-folder "fontawesome-webfont.eot?v=4.6.3")
	src url(font-folder "fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url(font-folder "fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url(font-folder "fontawesome-webfont.woff?v=4.6.3") format("woff"), url(font-folder "fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url(font-folder "fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg")
	font-weight normal
	font-style normal